/* theme: rose-pine-float */
* {
    th-bg:            rgba(25, 23, 36, 88%);
    th-fg:            rgb(196, 167, 231);
    th-fg-selected:   rgba(224, 222, 244, 100%);
    th-row-alt:       rgba(196, 167, 231, 7%);
    th-row-selected:  rgba(38, 35, 58, 0.88);
    th-border-color:  rgba(196, 167, 231, 0.36);
    th-separator:     rgba(246, 193, 119, 0.52);
}
